---
interface Props {
  rightHref?: string;
  rightLabel?: string;
  left?: string;
}
const {
  rightHref = '/about/',
  rightLabel = 'About →',
  left = 'Praise Prince',
} = Astro.props;
---
<footer class="colophon">
  <div>{left}</div>
  <div class="right"><a href={rightHref}>{rightLabel}</a></div>
</footer>
